html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .top-container, .bottom-container {
    flex: 1;
    background-color: green;
    height: 100px;
  }
  
  .spacer {
    flex: 0 0 auto;
    height: 500px;
  }
  
  