<!DOCTYPE html>
<html>
    <head>
        <title>Cognitron Infestation</title> <!-- tab name -->
        <link rel="stylesheet" href="css/style.css">
        <script src="lib/p5.js"></script>
        <script src="js/sketch.js"></script>
    </head>
    <body>
        <div id="titleWrapper">
            <h1 class="red">
                Cognitron Infestation
            </h1>
        </div>

        <div id="mainWrapper">
            <div id="p5Container">
                <!-- <img src="assets/Creature_pic.jpeg" alt="Creature Pic"> -->
                
            </div>
            
            <div class="twoColumns">
                <div class="left">
                    <h3 class="yellow">Scientific Name: </h3>
                    <p>Cognitronis pestis</p>
    
                    <h3 class="yellow">Discovered by / at:</h3>
                    <p>Agent Doofenshmirtz</p>
    
                    <h3 class="green">Family:</h3>
                    <p>Xenocognitronidae</p>
                </div>
    
                <div class="right">
                    <h3 class="green">Habitat:</h3>
                    <p>Synthara</p>
    
                    <h3 class="green">Appearance:</h3>
                    <p>
                        A gathering of dense, ghostly strands, diverse in size, entwined by an unseen, eerie gel. 
                        As time unfurls, this mysterious entity sets in motion an unsettling asexual reproduction, 
                        autonomously fracturing itself and birthing eerie, miniature replicas..</p>
    
                    <h3 class="green">Key Characteristics:</h3>
                    <ul> <!--Unordered (ul), ordered (ol)-->
                        <li>Splits itself into two</li>
                        <li>Aggressive Personality</li>
                        <li>Music Lover</li>
                        <li>Glows in Dark</li>
                        <li>Bloodthirsty</li>
                    </ul>
                </div>
            </div>

            <div class="oneColumn">
                <p>
                    <span class="red">What we know so far about Cognitron Infestation: </span>
                    This extraterrestrial entity made its way to Earth approximately 50 years ago.
                    Originating from the distant planet Synthara, this alien species, known as Cognitron, 
                    has insidiously infiltrated our Earth. Our intelligence agents, from the Alien Extermination Society (AES), 
                    that infiltrated the Syntharians' secret base has unveiled a sinister motive—Cognitron's mission is to 
                    corrupt and manipulate our AI technologies, turning them against humanity. A single Cognitron 
                    possesses the capability to thoroughly corrupt and dismantle our technological infrastructure, 
                    making swift action imperative. 
                    <br>
                    <span class="yellow">Guidelines for human interaction with this creature:</span> 
                    Exercise extreme caution and refrain from engaging with this malevolent entity for an extended duration! 
                    In the event of encountering this nefarious creature, promptly report the incident to the Alien Extermination Society (AES). 
                    Swift action is crucial, as AES operatives will swiftly arrive equipped with specialized blue light technology to eliminate the threat.
                </p>
            </div>
        </div>
        
        <div id="home">
            <a href="https://www.cclab.work/atlas">Back to Atlas</a>
        </div>

        <div id="footer" class="red">
            <p>A CCLab project made by Iris Liu in Spring 2024</p>
        </div>
    </body>
</html>
